@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

* {
  border-color: light-dark(hsl(210 17% 91%), hsl(240 5.9% 15%));
}

body {
  background-color: light-dark(hsl(0 0% 100%), hsl(240 10% 3.9%));
  color: light-dark(hsl(240 10% 3.9%), hsl(0 0% 100%));
  font-feature-settings: "rlig" 1, "calt" 1;
}

.container {
  margin-inline: auto;
}